.nameCls
{
    color:green;
    font-size: large;
    font-family: cursive;
}
.sCls
{
    color: red;
    font-size :x-large;
    font-family: cursive;
}

.cCls
{
    color: blue;
    font-size: x-large;
    font-family:cursive;
}